h1 {
    color: rgb(84, 13, 199);
    text-align: center;
}

h2 {
    color: rgb(84, 13, 199);
}
.navi {
    list-style-position: inside;
    text-align: center;
    background-color: rgb(214, 159, 9);
    
}



 .navilist li {
    display: inline;
    padding: 20px;
    
}


p {
    font-size: 20px;
}

.cesit {
    text-align: center;
    list-style-position: inside;
}

.urun {
    text-align: center;
}